body {
  font-family: 'Oswald';
}

.container {
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 767px) {
  .container {
    max-width: 300px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    max-width: 680px;
  }
}

.pacifico-family {
  font-family: 'Pacifico';
}

.section-title::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 10px;
  left: 50%;
  bottom: 0;
  margin-left: -30px;
  background: #E88F2F;
}

.section-title::after {
  position: absolute;
  content: "";
  width: 180px;
  height: 2px;
  left: 50%;
  bottom: 4px;
  margin-left: -90px;
  background: #E88F2F;
}

.hero {
  background: url("./images/hero.jpg") top right no-repeat;
}

.active {
  color: #E88F2F !important;
}

.btn-play::before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 60px;
  height: 60px;
  background: #FFFFFF;
  border-radius: 100%;
  animation: pulse-border 1500ms ease-out infinite;
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }

  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(2);
    opacity: 0;
  }
}

.count {
  background: linear-gradient(rgba(43, 40, 37, .5), rgba(43, 40, 37, .5)), url("images/count_bg.jpg") center center no-repeat;
  background-size: cover;
}

.menu-pricing-discounts::after {
  position: absolute;
  content: "";
  width: 100% !important;
  height: 100%;
  top: 100px;
  left: 0;
  background: linear-gradient(rgba(43, 40, 37, .9), rgba(43, 40, 37, .9)), url("images/service.jpg") center center no-repeat;
  background-size: cover;
  z-index: -1;
}

.chef-image img {
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out; 
}

.chef-image:hover img {
  transform: scale(1.1);
  filter: blur(5px);
}

.chef-image:hover .chef-social-icons{
  display: flex;
}

