body {
  font-family: 'Oswald';
}

.container {
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
}

.pacifico-family {
  font-family: 'Pacifico';
}

.hero {
  background-image: url("./images/hero.jpg");
}